In [1]:
import pandas as pd
from omop_etl.datastore import DataStore

In [2]:
omop = DataStore('../config.yml')

In [3]:
def domain_counts(table):
    
    dimension = table.split('_')[0]

    with omop.engine.connect() as con:
        dom = pd.read_sql('''
        select distinct b.domain_id, count(*) N
        from dbo.{0} a
        join xref.concept b
        on a.{1}_concept_id = b.concept_id
        group by b.domain_id
        '''.format(table, dimension), con)

        return dom

In [4]:
domain_counts('condition_occurrence')

   domain_id         N
0   Metadata    483056
1  Condition  20385995

In [5]:
domain_counts('observation')

     domain_id         N
0  Observation  40503489

In [6]:
domain_counts('measurement')

     domain_id          N
0     Metadata   16113693
1  Measurement  259604605

In [7]:
domain_counts('procedure_occurrence')

   domain_id        N
0   Metadata   798955
1  Procedure  3992029

In [8]:
domain_counts('drug_exposure')

  domain_id         N
0  Metadata   2694974
1      Drug  31488154